CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.appTimezone = Asia/Manila

database.default.hostname = localhost
database.default.database = tasks_today_db
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
